.a {
    display: block;
    padding: 8px;
    list-style-type: none;
    text-decoration: none;

}
.a:hover{
    color:#182835;
}
.a, .a:focus, .a:active {
    text-decoration: none;
    color: white;
}


li{
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
    float: left;
    display: flex;
    gap: 1em;
    font-size: 22px;
    padding: 5px 14px;
    list-style-type: none;
    
    
}
.logo {

    display: block;
    color: white;
    text-align: center;
    padding: 5px 14px;
    text-decoration: none;
    float: left;
    font-size: 22px;

   }

.navbar-menu {
    display: flex;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
    text-decoration: none;
    
}
.navbar-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 0;
    flex-direction: row;
    margin-left: auto;
}
.bar{
    background-color: rgb(194, 206, 206);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    

}

